USE [master]
GO
/****** Object:  Database [IBEEHEALTH]    Script Date: 2019/10/15 20:16:10 ******/
CREATE DATABASE [IBEEHEALTH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IBEEHEALTH', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\IBEEHEALTH.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IBEEHEALTH_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\IBEEHEALTH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IBEEHEALTH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IBEEHEALTH]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2019/10/15 20:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] NOT NULL,
	[ProvinceID] [int] NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CityStore]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityStore](
	[CityID] [int] NULL,
	[StoreID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diet]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diet](
	[DietID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[DietType] [varchar](50) NULL,
 CONSTRAINT [PK_Diet] PRIMARY KEY CLUSTERED 
(
	[DietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DietRecipe]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietRecipe](
	[RecipeID] [int] NOT NULL,
	[DietID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FoodCategory]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FoodCategory](
	[FoodCategoryID] [int] NOT NULL,
	[FoodCategory] [varchar](50) NULL,
 CONSTRAINT [PK_FoodCategory] PRIMARY KEY CLUSTERED 
(
	[FoodCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FoodDiet]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodDiet](
	[DietID] [int] NULL,
	[FoodItem] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FoodItem](
	[FoodItem] [int] NOT NULL,
	[FoodCategoryID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Calories] [float] NULL,
	[Protein] [float] NULL,
	[Fat] [float] NULL,
	[Caborhydrates] [float] NULL,
 CONSTRAINT [PK_FoodItem] PRIMARY KEY CLUSTERED 
(
	[FoodItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FoodPlan]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodPlan](
	[FoodItemID] [int] NULL,
	[MealPlanID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FoodRecipe]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodRecipe](
	[RecipeID] [int] NULL,
	[FoodItem] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MealPlan]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MealPlan](
	[MealPlanID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Duration] [int] NULL,
 CONSTRAINT [PK_MealPlan] PRIMARY KEY CLUSTERED 
(
	[MealPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Province]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Recipe](
	[RecipeID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Store]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Store](
	[StoreID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[AvailableOnline] [varchar](50) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[CityID] [int] NULL,
	[DietID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[Allergies] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2019/10/15 20:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[CityStore]  WITH CHECK ADD  CONSTRAINT [FK_CityStore_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[CityStore] CHECK CONSTRAINT [FK_CityStore_City]
GO
ALTER TABLE [dbo].[CityStore]  WITH CHECK ADD  CONSTRAINT [FK_CityStore_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
GO
ALTER TABLE [dbo].[CityStore] CHECK CONSTRAINT [FK_CityStore_Store]
GO
ALTER TABLE [dbo].[DietRecipe]  WITH CHECK ADD  CONSTRAINT [FK_DietRecipe_Diet] FOREIGN KEY([DietID])
REFERENCES [dbo].[Diet] ([DietID])
GO
ALTER TABLE [dbo].[DietRecipe] CHECK CONSTRAINT [FK_DietRecipe_Diet]
GO
ALTER TABLE [dbo].[DietRecipe]  WITH CHECK ADD  CONSTRAINT [FK_DietRecipe_Recipe] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipe] ([RecipeID])
GO
ALTER TABLE [dbo].[DietRecipe] CHECK CONSTRAINT [FK_DietRecipe_Recipe]
GO
ALTER TABLE [dbo].[FoodDiet]  WITH CHECK ADD  CONSTRAINT [FK_FoodDiet_Diet] FOREIGN KEY([DietID])
REFERENCES [dbo].[Diet] ([DietID])
GO
ALTER TABLE [dbo].[FoodDiet] CHECK CONSTRAINT [FK_FoodDiet_Diet]
GO
ALTER TABLE [dbo].[FoodDiet]  WITH CHECK ADD  CONSTRAINT [FK_FoodDiet_FoodItem] FOREIGN KEY([FoodItem])
REFERENCES [dbo].[FoodItem] ([FoodItem])
GO
ALTER TABLE [dbo].[FoodDiet] CHECK CONSTRAINT [FK_FoodDiet_FoodItem]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [FK_FoodItem_FoodCategory] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[FoodCategory] ([FoodCategoryID])
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [FK_FoodItem_FoodCategory]
GO
ALTER TABLE [dbo].[FoodPlan]  WITH CHECK ADD  CONSTRAINT [FK_FoodPlan_FoodItem] FOREIGN KEY([FoodItemID])
REFERENCES [dbo].[FoodItem] ([FoodItem])
GO
ALTER TABLE [dbo].[FoodPlan] CHECK CONSTRAINT [FK_FoodPlan_FoodItem]
GO
ALTER TABLE [dbo].[FoodPlan]  WITH CHECK ADD  CONSTRAINT [FK_FoodPlan_MealPlan] FOREIGN KEY([MealPlanID])
REFERENCES [dbo].[MealPlan] ([MealPlanID])
GO
ALTER TABLE [dbo].[FoodPlan] CHECK CONSTRAINT [FK_FoodPlan_MealPlan]
GO
ALTER TABLE [dbo].[FoodRecipe]  WITH CHECK ADD  CONSTRAINT [FK_FoodRecipe_FoodItem] FOREIGN KEY([FoodItem])
REFERENCES [dbo].[FoodItem] ([FoodItem])
GO
ALTER TABLE [dbo].[FoodRecipe] CHECK CONSTRAINT [FK_FoodRecipe_FoodItem]
GO
ALTER TABLE [dbo].[FoodRecipe]  WITH CHECK ADD  CONSTRAINT [FK_FoodRecipe_Recipe] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipe] ([RecipeID])
GO
ALTER TABLE [dbo].[FoodRecipe] CHECK CONSTRAINT [FK_FoodRecipe_Recipe]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_City]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Diet] FOREIGN KEY([DietID])
REFERENCES [dbo].[Diet] ([DietID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Diet]
GO
ALTER TABLE [dbo].[UserType]  WITH CHECK ADD  CONSTRAINT [FK_UserType_User1] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserType] CHECK CONSTRAINT [FK_UserType_User1]
GO
USE [master]
GO
