
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    <link href="~/Content/freelancer.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width" />
    <title>DietView</title>
</head>
<body>
    <div> 
        <div class="col-md-4"> 
        <p>

            <img src="~/Views/Diet/High Blood.jpg" />
        </p>
        <p>High Blood Pressure Diet</p>
    </div>

        <div class="col-md-4"> 
            <p><img src="~/Views/Diet/MediterraneanDiet.jpg" /></p>
            <p>Mediterranean Diet </p> 
        </div>

        <div class="col-md-4"> 
      <img src="~/Views/Diet/Diabetes.jpg" />
        </p>
            
       <p> Diabetes Diet </p>
        </div>
    </div>
</body>
</html>
