
@{
    ViewBag.Title = "HealthyDiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HealthyDiet</h2>

div class="container">
<div class="row">
    <div class="col-md-4">
        <img src="~/Images/35435047_10217273083797996_5373292288191496192_n.jpg" />
    </div>

    <div class="col-md-4">
        <img src="~/Images/35435047_10217273083797996_5373292288191496192_n.jpg" />
    </div>

    <div class="col-md-4">
        <img src="~/Images/35435047_10217273083797996_5373292288191496192_n.jpg" />
    </div>

</div>


