
@{
    ViewBag.Title = "Recommendation";
}

<h1>Recommendation</h1>

<div class="container">
    <h2> BMI Calculator </h2> <br />

    <div class="row">
        <div class="col-sm-4">

            <label> Height </label> <br />
            <input type="number" name="txtHeight" />

            <br />
            <br />

            <label> Weight </label> <br />
            <input type="number" name="txtWeight" />

            <br />
            <br />

            <button class="btn-default"> Calculate </button> <br /> <br />
        </div>


        <div class="col-sm-4">
            <h3> Your BMI: </h3> 

            -------------------------<br /> <br />

            <br /> <br />

            -------------------------
        </div>
    </div>
</div>

<br /> <br />

<div class="container">
    <table class="table-striped">
        <tr>
            <th>Classification</th>
            <th>BMI</th>
            <th>Recommendation</th>
        </tr>
        <tr>
            <td>Underweight</td>
            <td>Less than 18.50</td>
            <td> <button class="btn-default">Underweight Diet</button> </td>
        </tr>
        <tr>
            <td>Healthy</td>
            <td>18.50 to 24.99</td>
            <td> <button class="btn-default">Healthy Diet</button> </td>
        </tr>
        <tr>
            <td>Overweight</td>
            <td>25.00 to 29.99</td>
            <td> <button class="btn-default">Overweight Diet</button> </td>
        </tr>
        <tr>
            <td>Obese</td>
            <td>30 or more</td>
            <td> <button class="btn-default">Obese Diet</button> </td>
        </tr>
    </table>

</div>