
@{
    Layout = null;
}


@{
    ViewBag.Title = "SigIn";
}

<link href="~/Content/SignInStyle.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<script src="~/Scripts/jquery-3.0.0.slim.js"></script>
<link href="~/Scripts/all.css" rel="stylesheet" />

<header>


</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>

                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="Name" class="form-control" placeholder="Name" required autofocus>
                                <label for="Name">Your Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="Surname" class="form-control" placeholder="Surname" required autofocus>
                                <label for="Surname">Your Surname</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="CofirmPassword" class="form-control" placeholder="Confirm Password" required>
                                <label for="ConfirmPassword"> ConfirmPassword</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register Me</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>